* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html{
  height: 100vh;
} */

body{
  height: 100vh;
}

.light {
  background: #fff;
  color: #333;
  /* height: 100vh; */
  width: 100%;
  transition: 0.5s;
}

.dark {
  background: #333;
  color: black;
   /* height: 100vh; */
  width: 100%;
  transition: 0.5s;
}